<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Spring Boot!!sss!</h1>
<input type="submit" value="Submit" />
<a href="http://localhost:8080/excel/createExcel">export excel</a>
<a href="http://localhost:9098/v1/order/export" methods="post">export excel</a>
<br>
<form action="http://localhost:9098/v1/order/export" method="post">
    <button type="submit" name="orderType" value=4 class="btn-link">Go export</button>
</form>

</body>
</html>